# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/
env/
ENV/

# Environment variables
*.env

# macOS
.DS_Store

# Windows
Thumbs.db

# VSCode / IDEs
.vscode/
.idea/

# pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# Build
build/
dist/
*.egg-info/

todo.txt